openapi: 3.1.0
info:
  title: Google Calendar Action
  version: 1.0.0
servers:
  - url: https://www.googleapis.com/calendar/v3
paths:
  /calendars/primary/events:
    post:
      operationId: createEvent
      summary: Create a calendar event
      x-openai-isConsequential: true
      x-openai-response-format: "json"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Event"
      responses:
        "200":
          description: Event created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Event ID
                  htmlLink:
                    type: string
                    description: Link to view the event
                  summary:
                    type: string
                    description: Title of the event
                  description:
                    type: string
                    description: Description of the event
                  status:
                    type: string
                    description: Event status
      security:
        - OAuth2: [https://www.googleapis.com/auth/calendar.events]
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/calendar.events: Manage calendar events
  schemas:
    Event:
      type: object
      required:
        - summary
        - start
        - end
      properties:
        summary:
          type: string
          description: Title of the event
        description:
          type: string
        start:
          type: object
          required:
            - dateTime
            - timeZone
          properties:
            dateTime:
              type: string
              format: date-time
            timeZone:
              type: string
        end:
          type: object
          required:
            - dateTime
            - timeZone
          properties:
            dateTime:
              type: string
              format: date-time
            timeZone:
              type: string
        attendees:
          type: array
          items:
            type: object
            required:
              - email
            properties:
              email:
                type: string
